<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../docs/" class="navbar-brand">Wallet</a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "css" %} class="active"{% endif %}>
          <a href="../docs/css.html">CSS</a>
        </li>
        <li{% if page.slug == "components" %} class="active"{% endif %}>
          <a href="../docs/components.html">Components</a>
        </li>
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a href="../docs/javascript/">JavaScript</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
