---
layout: default
title: Accounts
inmenu: true
weight: 1
---

<div class="row">
	<div class="col-lg-12">
		<div class="table-actions row">
			<div class="col-sm-4">
				<input class="form-control" type="text" placeholder="Type to search...">
			</div>
			<div class="col-sm-8 col-sm-push-0 col-md-7 col-md-push-1">
				<div class="row">
					<div class="col-sm-3"><button class="btn btn-default btn-block btn-filter">Active</button></div>
					<div class="col-sm-3"><button class="btn btn-default btn-block btn-filter">Inactive</button></div>
					<div class="col-sm-3"><button class="btn btn-default btn-block btn-filter">Suspended</button></div>
					<div class="col-sm-3"><button class="btn btn-default btn-block btn-filter">Deactivated</button></div>
				</div>
			</div>
		</div>
	</div>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-accounts">
            <thead>
                <tr>
					<th>Account ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Saldo</th>
					<th>Mobile application</th>
					<th>RFID card</th>
					<th>Stauts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>
                <tr>
					<td><a href="/accounts/details/overview.html">12324324445</a></td>
					<td>Dubravko HENDIJA</td>
					<td>dubravko.hendija@gmail.com</td>
					<td>€ 35,00</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>Active</td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-xs-12 col-xs-push-0 col-sm-4 col-sm-push-8 col-md-2 col-md-push-10">
    	<ul class="totals pull-right">
    		<li><span class="labels">Total accounts listed</span> <span class="amount">953</span></li>
			<li class="balance"><span class="labels">Balance</span> <span class="amount">964 €</span></li>
    	</ul>
    </div>
</div>
<!-- /.row -->