---
layout: default
title: Administration | Accounts
inmenu: true
weight: 5
---

<div class="row">
	<div class="col-lg-12">
		<div class="table-actions row">
			<div class="col-lg-4">
				<input class="form-control" type="text" placeholder="Type to search...">
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2 col-md-12"><a href="/administration/accounts/merge/merge1.html" class="btn btn-default btn-block">Merge Accounts</a></div>
					<div class="col-lg-3"><a href="/administration/accounts/bulk/bulk1.html" class="btn btn-default btn-block">Bulk Create</a></div>
					<div class="col-lg-3"><a href="/administration/accounts/new-account.html" class="btn btn-info btn-block">New Account</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 filters-row">
		<div class="divider"></div>
		<div class="row">
			<div class="col-lg-1 col-lg-offset-2 form-inline">
				<div class="form-group">
		        	<label>Filters</label>
		    	</div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="status">
						<option>Status</option>
						<option>Any</option>
						<option>Active</option>
						<option>Inactive</option>
						<option>Suspended</option>
						<option>Deactivated</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="card_type">
						<option>Mobile and RFID</option>
						<option>Mobile</option>
						<option>RFID</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-1 form-inline">
				<div class="form-group">
		        	<label>Action</label>
		    	</div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="action">
						<option>Deactivate</option>
						<option>Activate</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-2">
				<button class="btn btn-default pull-right">Execute on selected</button>
			</div>
		</div>
	</div>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-accounts">
            <thead>
                <tr>
					<th>Account ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
					<th>Mobile application</th>
					<th>RFID card</th>
					<th class="no-sort">
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td>12324324445</td>
					<td>Dubravko HENDIJA</td>
					<td><a href="#">dubravko.hendija@gmail.com</a></td>
					<td>Active</td>
					<td>122211232434</td>
					<td>12344343232</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->