// Core variables and mixins
@import "variables.less";
@import "../bootstrap/less/mixins.less";

// Reset and dependencies
@import "../bootstrap/less/normalize.less";
// @import "../bootstrap/less/print.less";
// @import "../bootstrap/less/glyphicons.less";
@import "../assets/font-awesome/less/font-awesome";

// Core CSS
@import "../bootstrap/less/scaffolding.less";
// @import "../bootstrap/less/type.less";
// @import "../bootstrap/less/code.less";
// @import "../bootstrap/less/grid.less";
@import "../bootstrap/less/tables.less";
@import "../bootstrap/less/forms.less";
@import "../bootstrap/less/buttons.less";

// Components
// @import "../bootstrap/less/component-animations.less";
// @import "../bootstrap/less/dropdowns.less";
// @import "../bootstrap/less/button-groups.less";
// @import "../bootstrap/less/input-groups.less";
@import "../bootstrap/less/navs.less";
// @import "../bootstrap/less/navbar.less";
// @import "../bootstrap/less/breadcrumbs.less";
@import "../bootstrap/less/pagination.less";
// @import "../bootstrap/less/pager.less";
// @import "../bootstrap/less/labels.less";
// @import "../bootstrap/less/badges.less";
// @import "../bootstrap/less/jumbotron.less";
// @import "../bootstrap/less/thumbnails.less";
// @import "../bootstrap/less/alerts.less";
// @import "../bootstrap/less/progress-bars.less";
// @import "../bootstrap/less/media.less";
// @import "../bootstrap/less/list-group.less";
// @import "../bootstrap/less/panels.less";
// @import "../bootstrap/less/responsive-embed.less";
// @import "../bootstrap/less/wells.less";
// @import "../bootstrap/less/close.less";

// Components w/ JavaScript
// @import "../bootstrap/less/modals.less";
// @import "../bootstrap/less/tooltip.less";
// @import "../bootstrap/less/popovers.less";
// @import "../bootstrap/less/carousel.less";

// Utility classes
//@import "../bootstrap/less/utilities.less";
//@import "../bootstrap/less/responsive-utilities.less";

// Import datepicker component
@import "_bootstrap-datetimepicker.less";

// Global Variables
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

@gray-lightest: lighten(#000, 97.25%);

// Global Styles

body {
  border-top: 3px solid @brand-primary;
    //background-color: @gray-lightest;
}

a,
button {
  .transition(all 0.3s linear);
}

// Wrappers

#wrapper {
    width: 100%;
}

// Header
#header {
  background: @body-bg;
  margin-bottom: 25px;
  position: relative;
  z-index: 500;
  min-height: 190px;
  #head_profile {
    text-align: right;
    font-size: 14px;
    margin: 36px 0;
    position: relative;
    .user {
      color: @brand-primary;
    }
    .profile_drop {
      padding: 10px;
      margin-top: 10px;
      right: -7px;
      .company {
        color: @brand-primary;
        font-style: italic;
      }
      &:after,
      &:before {
        bottom: 100%;
        right: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-right: 4px;
      }
      &:before {
        border-bottom-color: #cccccc;
        border-width: 12px;
        margin-right: 2px;
      }
    }
  }
}

.navbar-toggle {
  background-color: @brand-primary;
  border-radius: 0;
  padding: 19px 16px;
  margin-top: 18px;
  .icon-bar {
    background-color: @body-bg;
  }
}

.logo {
  display: inline-block;
  text-align: right;
  margin-left: 15px;
}

.page-header {
  padding: 0;
  margin: 0;
  border-bottom: none;
  position: relative;
  h1 {
    display: inline-block;
    font-size: 46px;
    margin-top: 20px;
    font-weight: 300;
    &::first-letter {
      display: inline-block;
      background-color: @brand-primary-700;
      color: @body-bg;
      padding: 0 15px;
      margin-right: 5px;
    }
  }
  .last-update {
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    color: @brand-primary-900;
  }
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media(min-width:768px) {
  #header,
  #page-wrapper {
      position: inherit;
      margin: 0;
      padding: 0 30px 0 15px;
  }
  .page-header {
    h1 {
      margin-top: 40px;
    }
  }
  #header_content > div:first-child {
    float: right;
  }
}

.main-content {
  > .row {
    margin-bottom: 20px;
  }
}

.row.divider {
  border-bottom: 1px solid @brand-primary;
  padding-bottom: 20px;
}

// --Sidebar

#sidebar {
  background-color: @brand-primary-50;
}

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar {
  padding-left: 15px;
  border-right: 1px solid darken(@gray-lightest, 6.5%);
  .user {
    font-size: 50px;
    font-weight: 300;
    padding: 30px 40px;
    line-height: 1.3;
    color: @body-bg;
    background-color: @brand-primary;
  }
  .nav > li > a {
    padding: 20px 15px 20px 35px;
    font-size: 18px;
    font-weight: 300;
    background-color: @brand-primary-50;
    border-left: 10px solid @brand-primary-50;
    &:hover,
    &.active {
      background-color: @body-bg;
      color: @brand-primary-900;
      border-color: @brand-primary-highlight;
    }
    &.log-out {
      color: @brand-primary;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 45px;
}

.sidebar .nav-third-level li a {
    padding-left: 55px;
}

@media(max-width:767px) {
    .sidebar {
        width: 300px;
        padding-left: 0px;
    }

}

// Buttons

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: @brand-primary;
}

.btn-success.btn-outline {
    color: @brand-success;
}

.btn-info.btn-outline {
    color: @brand-info;
}

.btn-warning.btn-outline {
    color: @brand-warning;
}

.btn-danger.btn-outline {
    color: @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

.btn.no-label {
  margin-top: 24px;
}
.btn.active {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}

.panel .slidedown .glyphicon {
    margin-right: 5px;
}

// DataTables Overrides

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_disabled {
    padding: 8px;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

div.dataTables_filter {
  text-align: left;
}

div.dataTables_paginate {
  text-align: left;
}
div.dataTables_length {
  text-align: right;
}

.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
        border-top: none;
      }
      > th {
        div {
          text-align: left;
        }
      }
    }
  }
  &.intable {
    background-color: transparent;
    .table {
      background-color: transparent;
    }
  }
  .checkbox {
    width: 100%;
    text-align: center;
  }
  &.table-centered {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          text-align: center;
        }
      }
    }
  }
}

// Pages
.accounts-intro {
  p {
    margin: 0;
  }
}

.panel-body,
.well {
  > .list-group {
    .list-group-item {
      border: none;
      border-bottom: 1px solid @list-group-border;
      margin-bottom: 0px;
      border-radius: 0px;
    }
  }
  > .list-group {
    span {
      display: block;
    }
    .value {text-align: center;}
  }
  .list-group-item {
    > ul {
      list-style: none;
      padding: 5px 0px;
      li {
        span {
          display: inline-block;
          width: 50%;
        }
        .title {
          width: 59%;
          text-align: right;
        }
        .value {
          width: 39%;
          text-align: left;
        }
      }
    }
  }
}
.well {
  .list-group {
    margin: 0;
  }
}
.panel-default {
  border-radius: 0px;
  & > .panel-heading {
    border-radius: 0px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
}

// Table Actions

.table-actions {
  .pagination {
    display: block;
    margin: 12px 0 0 0;
    .labels {
      display: inline-block;
      width: 60px;
    }
  }
  .formats,
  .length {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: table-cell;
      margin: 0;
      a {
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        &.active {
          color: @brand-primary-highlight;
        }
      }
    }
  }
  .length {
    margin-top: 44px;
    margin-bottom: 0;
  }
  .formats {
      width: 100%;
      display: table;
      text-align: center;
  }
  .export {
    .btn {
      margin-top: 10px;
    }
  }
  .filter {
    .btn {
      margin-top: 30px;
    }
  }
  .btn {
    text-transform: uppercase;
  }
}

.totals {
  width: 270px;
  list-style: none;
  padding: 0;
  font-size: 20px;
  .labels {
    width: 70%;
    display: inline-block;
  }
  .amount {
    font-weight: 700;
  }
  .balance {
    color: @brand-primary-highlight;
  }
}

.filters {
  display: none;
  margin: 30px 0px;
}
.filters-row {
  .divider {
    border-top: 1px solid @brand-primary;
    margin-bottom: 15px;
  }
  .form-inline {
    label {
      margin-top: 6px;
    }
  }
}

.final-amount {
  color: @brand-primary-highlight;
  font-weight: 700;
}

.intable {
  .table {
    margin: 0px;
  }
  tbody tr td {
    background-color: transparent;
    border: none;
    padding: 3px;
    vertical-align: top;
  }
}

.details {
  text-align: center;
  min-width: 100px;
  &-control {
    font-size: 14px;
  }
}

// Pagination overide
.pagination {
  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      cursor: default;
    }
  }
}

// Nav Tabs

.nav-tabs {
  border-bottom: 2px solid @brand-primary;
  > li {
    > a {
      padding: 10px 35px;
      background-color: @brand-primary-50;
      border-bottom: 0px solid @brand-primary;
      &:hover {
        background-color: @brand-primary-100;
        color: @brand-primary;
      }
    }
    &.incomplete {
      > a {
        background-color: #9E9E9E;
        color: #ffffff;
      }
    }
  }
}

// Striped table overide
// .table-striped {
//   > tbody:nth-of-type(odd) > tr td {
//     background-color: @table-bg-accent;
//   }
// }

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
.row-offcanvas {
  > div {
    padding-left: 0;
    padding-right: 0;
  }
  > div:nth-child(1) {
    width: 300px;
  }
  > div:nth-child(2) {
    width: 100%;
    margin-right: -300px;
    padding-right: 300px;
  }
}

@media screen and (max-width: 767px) {
  #header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    > div {
      padding-left: 15px;
      padding-right: 15px;
    }
    > div:nth-child(2) {
      width: inherit;
      margin-right: 0;
      padding-right: 15px;
    }
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -300px; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -300px; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 300px; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 300px; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 300px; /* 6 columns */
  }
}

// Angular templates overides

.ng-table-pager {
  .ng-table-counts {
    .pagination;
    button {
      position: relative;
      float: left; // Collapse white-space
      padding: @padding-base-vertical @padding-base-horizontal;
      line-height: @line-height-base;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px !important;
      box-shadow: none;
      z-index: 0 !important;
      &:hover,
      &:focus {
        color: @pagination-hover-color;
        background-color: @pagination-hover-bg;
        border-color: @pagination-hover-border;
      }
      &.active {
        &,
        &:hover,
        &:focus {
          z-index: 2;
          color: @pagination-active-color;
          background-color: @pagination-active-bg;
          border-color: @pagination-active-border;
          cursor: default;
        }
      }
    }
    &:first-child {
      margin-left: 0;
      .border-left-radius(@border-radius-base);
    }
    &:last-child {
      .border-right-radius(@border-radius-base);
    }
  }
}

#cards {
  tr {
    th {
      border: none;
    }
    th,
    td {
      width: 25%;
    }
  }
}
#new_card_row {
  display: none;
}