---
layout: default
title: Administration | Users
inmenu: true
weight: 6
---

<div class="row">
	<div class="col-lg-12">
		<div class="table-actions row">
			<div class="col-lg-4">
				<input class="form-control" type="text" placeholder="Type to search...">
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3 col-lg-offset-9 col-md-12"><a href="/administration/users/new-user.html" class="btn btn-info btn-block btn-lg">New user</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12 filters-row">
		<div class="divider"></div>
		<div class="row">
			<div class="col-lg-1 form-inline">
				<div class="form-group">
		        	<label>Filters</label>
		    	</div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="amounts">
						<option>Show Amounts</option>
						<option>All</option>
						<option>Yes</option>
						<option>No</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="role">
						<option>User Role</option>
						<option>All</option>
						<option>Superadmin</option>
						<option>Admin</option>
						<option>Basic User</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="status">
						<option>Status</option>
						<option>Any</option>
						<option>Active</option>
						<option>Inactive</option>
						<option>Suspended</option>
						<option>Deactivated</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-1 form-inline">
				<div class="form-group">
		        	<label>Action</label>
		    	</div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
			        <select class="form-control" id="action">
						<option>Deactivate</option>
						<option>Activate</option>
					</select>
			    </div>
			</div>
			<div class="col-lg-2">
				<button class="btn btn-default pull-right">Execute on selected</button>
			</div>
		</div>
	</div>
    <div class="col-lg-12">
        <table class="table table-striped table-hover table-centered" id="dataTable-accounts">
            <thead>
                <tr>
					<th>Username</th>
					<th>Admin</th>
					<th>Basic User</th>
					<th>Account ID</th>
					<th>Show Amounts</th>
					<th>Status</th>
					<th class="no-sort">
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                <tr>
					<td><a href="/administration/users/user-setup.html">dubravko.hendija@gmail.com</a></td>
					<td>X</td>
					<td>X</td>
					<td>330483022</td>
					<td>yes</td>
					<td>enabled</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
							</label>
						</div>
					</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->