---
layout: default
title: Administration | dubravko.hendija@intis.hr
inmenu: false
weight: 6
back: true
back_link: /administration/users/index.html
---

<form action="">
	<div class="row">
		<div class="col-lg-4">
		    <h4>SIGN IN DETAILS</h4>
		    <div class="form-group">
		        <label for="email">Email</label>
		        <p class="form-control-static">dubravko.hendija@gmail.com</p>
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <input type="password" class="form-control" id="password" placeholder="Password">
		    </div>
		    <div class="form-group">
		        <label for="confirmpassword">Confirm password</label>
		        <input type="text" class="form-control" id="confirmpassword" placeholder="Confirm password">
		    </div>
		</div>
	    <!-- /.col-lg-5 -->
	    <div class="col-lg-8">
		    <h4>PERMISSIONS</h4>
			<div class="form-group">
				<label for="amounts">User role</label>
			    <label class="radio-inline">
					<input type="radio" name="role" id="role1" value="option1" checked> Superadmin
				</label>
				<label class="radio-inline">
				    <input type="radio" name="role" id="role2" value="option2"> Admin
				</label>
				<label class="radio-inline">
				    <input type="radio" name="role" id="role3" value="option3"> Basic User
				</label>
			</div>
			<div class="form-group">
				<label for="amount">Show amounts</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="amount" id="amount" value="" checked>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="enabled">Enabled</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="enabled" id="enabled" value="" checked>
					</label>
				</div>
			</div>

		</div>
    </div>
    <div class="row">
	    <div class="col-lg-4 col-lg-offset-8">
			<button type="submit" class="btn btn-default btn-lg">Cancel</button>
			<button type="submit" class="btn btn-info btn-lg ">Save</button>
		</div>
	    <!-- /.col-lg-2 -->
	</div>
</form>