---
layout: default
title: Activities | Monitoring
inmenu: true
weight: 2
back: true
back_link: /accounts/index.html
---

<div class="row">
    <div class="col-lg-12">
        <div class="table-actions row">
            <div class="col-lg-4">
                <div class="pagination"><span class="labels">Page</span> 1</div>
                <div class="pagination"><span class="labels">Entries</span> 1 - 10 (out of 43)</div>
            </div>
            <div class="col-lg-4">
                <ul class="length">
                    <li><a href="">10</a></li>
                    <li><a href="">25</a></li>
                    <li><a href="">50</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-6 filter">
                        <button class="btn btn-default btn-lg btn-block">Filters</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 filters">
        <div class="row">
            <div class='col-lg-2'>
                <label for="from">From</label>
                <input type='text' class="form-control" id='filter_from' />
            </div>
            <div class='col-lg-2'>
                <label for="from">Till</label>
                <input type='text' class="form-control" id='filter_till' />
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Reported by</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Activity</label>
                <select class="form-control" id="status">
                    <option>Cashless Payment</option>
                    <option>Account Auth</option>
                    <option>Session Request</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">External</label>
                <select class="form-control" id="status">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Modification</label>
                <select class="form-control" id="status">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-activities-monitoring">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Activity</th>
                    <th>Reported By</th>
                    <th>Source</th>
                    <th>Source Details</th>
                    <th>Account Modification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td>yes</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>