---
layout: default
title: Transactions | Monitoring
inmenu: true
weight: 3
back: true
back_link: /accounts/index.html
---

<div class="row">
    <div class="col-lg-12">
        <div class="table-actions row">
            <div class="col-lg-4">
                <div class="pagination"><span class="labels">Page</span> 1</div>
                <div class="pagination"><span class="labels">Entries</span> 1 - 10 (out of 43)</div>
            </div>
            <div class="col-lg-4">
                <ul class="length">
                    <li><a href="">10</a></li>
                    <li><a href="">25</a></li>
                    <li><a href="">50</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6 filter">
                        <button class="btn btn-default btn-lg btn-block">Filters</button>
                    </div>
                    <div class="col-lg-6 export">
                        <ul class="formats">
                            <li><a href="" class="active">xls</a></li>
                            <li><a href="">csv</a></li>
                            <li><a href="">pdf</a></li>
                        </ul>
                        <button class="btn btn-info btn-lg btn-block">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 filters">
        <div class="row">
            <div class='col-lg-2'>
                <label for="from">From</label>
                <input type='text' class="form-control" id='filter_from' />
            </div>
            <div class='col-lg-2'>
                <label for="from">Till</label>
                <input type='text' class="form-control" id='filter_till' />
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Account</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Transaction Type</label>
                <select class="form-control" id="status">
                    <option>Cashless Payment</option>
                    <option>Account Auth</option>
                    <option>Session Request</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Card Type</label>
                <select class="form-control" id="status">
                    <option>Mobile Aplication</option>
                    <option>RFID</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-transactions">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Transaction Type</th>
                    <th>Card Id</th>
                    <th>Card Type</th>
                    <th>Amount</th>
                    <th>Saldo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
                <tr data-child-name="test1" data-child-value="10">
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Payment Cashless</td>
                    <td>11221122112</td>
                    <td>RFID</td>
                    <td>3,00 €</td>
                    <td>15,00 €</td>
                    <td class="details"><a href="#" class="details-control">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
        <ul class="totals pull-right">
            <li><span class="labels">Total inputs</span> <span class="amount">45,00 €</span></li>
            <li><span class="labels">Total charges</span> <span class="amount">33,00 €</span></li>
            <li class="balance"><span class="labels">Balance</span> <span class="amount">12,00 €</span></li>
        </ul>
    </div>
</div>