---
layout: default
title: Administration |  Bulk RFID Accounts Creation
inmenu: false
weight: 5
---

<div class="row accounts-intro">
    <div class="col-lg-8">
    	<p><a href="/administration/accounts.html"><i class="fa fa-angle-left"></i> Back to the account list</a></p>
	</div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">

	</div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-block">Reset</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-info btn-block">Create Selected</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-accounts">
            <thead>
                <tr>
					<th>RFID number</th>
					<th>Saldo</th>
					<th>Status</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Address</th>
					<th>Action</th>								
                </tr>
            </thead>
            <tbody>
            	<tr>
            		<td>3423434923</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434924</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434925</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td><span class="text-danger">3423434925</span> <span class="text-danger small">duplicate</span></td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434926</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434927</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434928</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434929</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434930</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434931</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434932</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434933</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434934</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434935</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>
            	<tr>
            		<td>3423434936</td>
            		<td>10</td>
            		<td>Active</td>
            		<td>Dubravko</td>
            		<td>Hendija</td>
            		<td>Bani 73a</td>
            		<td>
            			<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</td>
            	</tr>

            </tbody>
        </table>
    </div>
</div>