---
layout: default
title: Administration |  Bulk RFID Accounts Creation
inmenu: false
weight: 5
---

<div class="row accounts-intro">
    <div class="col-lg-8">
    	<p><a href="/administration/accounts.html"><i class="fa fa-angle-left"></i> Back to the account list</a></p>
	</div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">

	</div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-block">Reset</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-info btn-block" onclick="window.location.href='/administration/accounts/bulk/bulk2.html';">Upload file</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-accounts">
            <thead>
                <tr>
					<th>RFID number</th>
					<th>Saldo</th>
					<th>Status</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Address</th>
					<th>Action</th>								
                </tr>
            </thead>
        </table>
    </div>
</div>