---
layout: default
title: Administration | Create New Account
inmenu: false
weight: 5
---

<div class="row accounts-intro">
    <div class="col-lg-8">
    	<p><a href="/administration/accounts.html"><i class="fa fa-angle-left"></i> Back to the account list</a></p>
	</div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">

	</div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div class="row divider">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-lg btn-block">Cancel</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-primary btn-lg btn-block">Create</button>
	</div>
</div>
<!-- /.row -->
<div class="row divider">
	<div class="col-lg-4">
		<h4>SIGN IN DETAILS</h4>
		<div class="form-group">
	        <label for="email">Email</label>
	        <input type="email" class="form-control" id="email" placeholder="email">
	    </div>
	    <div class="form-group">
	        <label for="password">Password</label>
	        <input type="password" class="form-control" id="password" placeholder="Password">
	    </div>
	    <div class="form-group">
	        <label for="confirmpassword">Confirm password</label>
	        <input type="text" class="form-control" id="confirmpassword" placeholder="Confirm password">
	    </div>
	</div>
    <div class="col-lg-8">
    	<h4>PROFILE DETAILS</h4>
    	<div class="row">
    		<div class="form-group col-lg-6">
		        <label for="name">Name</label>
		        <input type="text" class="form-control" id="name" placeholder="Name">
		    </div>
		    <div class="form-group col-lg-6">
		        <label for="surname">Surname</label>
		        <input type="text" class="form-control" id="surname" placeholder="Surname">
		    </div>
    	</div>
	    <div class="row">
    		<div class="form-group col-lg-6">
		        <label for="id_number">Personal ID number</label>
		        <input type="text" class="form-control" id="id_number" placeholder="Personal ID number">
		    </div>
    	</div>
	    <div class="row">
    		<div class="form-group col-lg-6">
		        <label for="address">Address</label>
		        <input type="text" class="form-control" id="address" placeholder="Address">
		    </div>
		    <div class="form-group col-lg-6">
		        <label for="time_zone">Time zone</label>
		        <select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
		    </div>
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h4>CARD DETAILS</h4>
		<div class="row">
		    <div class="form-group col-lg-2">
		        <label for="card_id">Card Id</label>
		        <input type="text" class="form-control" id="card_id" placeholder="Card Id">
		    </div>
		    <div class="form-group col-lg-2">
		        <label for="card_type">Card Type</label>
		        <input type="text" class="form-control" id="card_type" placeholder="Card Type">
		    </div>
		    <div class="form-group col-lg-2">
		        <button class="btn btn-primary no-label">+ Add another card</button>
		    </div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-lg btn-block">Cancel</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-primary btn-lg btn-block">Create</button>
	</div>
</div>
<!-- /.row -->