---
layout: default
title: Administration | Merge Accounts
inmenu: false
weight: 5
back: true
back_link: /administration/accounts.html
---

<div class="row">
    <div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li><a href="/administration/accounts/merge/merge1.html">1. Source account</a></li>
			<li><a href="/administration/accounts/merge/merge2.html">2. Destination account</a></li>
			<li class="active"><a href="/administration/accounts/merge/merge3.html">3. Confirm merge</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<h4>SOURCE ACCOUNT</h4>
		<div class="well">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="title">SALDO:</span>
                    <span class="value">13</span>
                </li>
				<li class="list-group-item">
					<span class="title">LOYALTY POINTS:</span>
                    <span class="value">135</span>
                </li>
				<li class="list-group-item">
					<span class="title">STATUS:</span>
                    <span class="value">Active</span>
                </li>
				<li class="list-group-item">
					<span class="title">SALDO LIMIT:</span>
                    <span class="value">100,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">ACTIVE MEDIA</span>
					<ul>
						<li>
							<span class="title">RFID  Mifare Classic:</span>
                    		<span class="value">434345532</span>
                		</li>
					</ul>
				</li>
				<li class="list-group-item">
					<span class="title">EMAIL:</span>
                    <span class="value">none</span>
                </li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4">
		<h4>DESTINATION ACCOUNT</h4>
		<div class="well">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="title">SALDO:</span>
                    <span class="value">23,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">LOYALTY POINTS:</span>
                    <span class="value">10421</span>
                </li>
				<li class="list-group-item">
					<span class="title">STATUS:</span>
                    <span class="value">Active</span>
                </li>
				<li class="list-group-item">
					<span class="title">SALDO LIMIT:</span>
                    <span class="value">100,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">ACTIVE MEDIA</span>
					<ul>
						<li>
							<span class="title">Mobile application:</span>
                    		<span class="value">556969666</span>
                		</li>
					</ul>
				</li>
				<li class="list-group-item">
					<span class="title">EMAIL:</span>
                    <span class="value"><a href="">dubravko.hendija@gmail.com</a></span>
                </li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4">
		<h4 class="final-amount">FINAL ACCOUNT</h4>
		<div class="well">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="title">SALDO:</span>
                    <span class="value"><span class="final-amount">33,00</span></span>
                </li>
				<li class="list-group-item">
					<span class="title">LOYALTY POINTS:</span>
                    <span class="value">10556</span>
                </li>
				<li class="list-group-item">
					<span class="title">STATUS:</span>
                    <span class="value">Active</span>
                </li>
				<li class="list-group-item">
					<span class="title">SALDO LIMIT:</span>
                    <span class="value">100,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">ACTIVE MEDIA</span>
					<ul>
						<li>
							<span class="title">Mobile application:</span>
                    		<span class="value">556969666</span>
                		</li>
						<li>
							<span class="title">RFID  Mifare Classic:</span>
                    		<span class="value">434345532</span>
                		</li>
					</ul>
				</li>
				<li class="list-group-item">
					<span class="title">EMAIL:</span>
                    <span class="value"><a href="">dubravko.hendija@gmail.com</a></span>
                </li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-lg btn-block">Cancel</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-primary btn-lg btn-block">Merge</button>
	</div>
</div>
<!-- /.row -->