---
layout: default
title: Administration | Merge Accounts
inmenu: false
weight: 5
back: true
back_link: /administration/accounts.html
---

<div class="row">
    <div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li class="incomplete"><a href="/administration/accounts/merge/merge1.html">1. Source account</a></li>
			<li class="active"><a href="/administration/accounts/merge/merge2.html">2. Destination account</a></li>
			<li><a href="/administration/accounts/merge/merge3.html">3. Confirm merge</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<h4>FIND ACCOUNT BY EMAIL</h4>
    	<div class="row">
    		<div class="form-group col-lg-6">
		        <label for="email">Email</label>
		        <input type="text" class="form-control" id="email" placeholder="Email">
		    </div>
    	</div>
	</div>
	<div class="col-lg-4">
		<h4>DESTINATION ACCOUNT</h4>
		<div class="well">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="title">SALDO:</span>
                    <span class="value">23,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">LOYALTY POINTS:</span>
                    <span class="value">10421</span>
                </li>
				<li class="list-group-item">
					<span class="title">STATUS:</span>
                    <span class="value">Active</span>
                </li>
				<li class="list-group-item">
					<span class="title">SALDO LIMIT:</span>
                    <span class="value">100,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">ACTIVE MEDIA</span>
					<ul>
						<li>
							<span class="title">Mobile application:</span>
                    		<span class="value">556969666</span>
                    	</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-lg btn-block">Cancel</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-primary btn-lg btn-block">Next</button>
	</div>
</div>
<!-- /.row -->