---
layout: default
title: Administration | Merge Accounts
inmenu: false
weight: 5
back: true
back_link: /administration/accounts.html
---

<div class="row">
    <div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="/administration/accounts/merge/merge1.html">1. Source account</a></li>
			<li><a href="/administration/accounts/merge/merge2.html">2. Destination account</a></li>
			<li><a href="/administration/accounts/merge/merge3.html">3. Confirm merge</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<h4>FIND ACCOUNT BY CARD</h4>
    	<div class="row">
    		<div class="form-group col-lg-6">
		        <label for="card_id">Card Id</label>
		        <input type="text" class="form-control" id="card_id" placeholder="Card Id">
		    </div>
		    <div class="form-group col-lg-6">
		        <label for="card_type">Card Type</label>
		        <input type="text" class="form-control" id="card_type" placeholder="Card Type">
		    </div>
    	</div>
    	<h4>FIND ACCOUNT BY ID</h4>
	    <div class="row">
    		<div class="form-group col-lg-6">
		        <label for="account_id">Account Id</label>
		        <input type="text" class="form-control" id="account_id" placeholder="Account Id">
		    </div>
    	</div>
	</div>
	<div class="col-lg-4">
		<h4>SOURCE ACCOUNT</h4>
		<div class="well">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="title">SALDO:</span>
                    <span class="value">13</span>
                </li>
				<li class="list-group-item">
					<span class="title">LOYALTY POINTS:</span>
                    <span class="value">135</span>
                </li>
				<li class="list-group-item">
					<span class="title">STATUS:</span>
                    <span class="value">Active</span>
                </li>
				<li class="list-group-item">
					<span class="title">SALDO LIMIT:</span>
                    <span class="value">100,00</span>
                </li>
				<li class="list-group-item">
					<span class="title">ACTIVE MEDIA</span>
					<ul>
						<li>
							<span class="title">RFID  Mifare Classic:</span>
                    		<span class="value">434345532</span>
                		</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
		<button class="btn btn-default btn-lg btn-block">Cancel</button>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-primary btn-lg btn-block">Next</button>
	</div>
</div>
<!-- /.row -->