---
layout: default
title: Accounts | Dubravko Hendija
inmenu: false
weight: 1
back: true
back_link: /accounts/index.html
---

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li><a href="/accounts/details/overview.html">Overview</a></li>
            <li><a href="/accounts/details/transactions.html">Transactions</a></li>
            <li class="active"><a href="/accounts/details/activities.html">Activities</a></li>
            <li><a href="/accounts/details/manage.html">Manage</a></li>
        </ul>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-actions row">
            <div class="col-lg-4">
                <div class="pagination"><span class="labels">Page</span> 1</div>
                <div class="pagination"><span class="labels">Entries</span> 1 - 10 (out of 43)</div>
            </div>
            <div class="col-lg-4">
                <ul class="length">
                    <li><a href="">10</a></li>
                    <li><a href="">25</a></li>
                    <li><a href="">50</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6 filter">
                        <button class="btn btn-default btn-lg btn-block">Filters</button>
                    </div>
                    <div class="col-lg-6 export">
                        <ul class="formats">
                            <li><a href="" class="active">xls</a></li>
                            <li><a href="">csv</a></li>
                            <li><a href="">pdf</a></li>
                        </ul>
                        <button class="btn btn-info btn-lg btn-block">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 filters">
        <div class="row">
            <div class='col-lg-2'>
                <label for="from">From</label>
                <input type='text' class="form-control" id='filter_from' />
            </div>
            <div class='col-lg-2'>
                <label for="from">Till</label>
                <input type='text' class="form-control" id='filter_till' />
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Reported by</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Activity</label>
                <select class="form-control" id="status">
                    <option>Cashless Payment</option>
                    <option>Account Auth</option>
                    <option>Session Request</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">External</label>
                <select class="form-control" id="status">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                <label for="date_filter">Modification</label>
                <select class="form-control" id="status">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" id="dataTable-accounts">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Activity</th>
                    <th>Reported By</th>
                    <th>Source</th>
                    <th>Source Details</th>
                    <th>Transaction ID</th>
                    <th>Resource Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>12:43.54</td>
                    <td>12/12/2014</td>
                    <td>Cashless Payment</td>
                    <td>Broker (superadmin)</td>
                    <td>Televend</td>
                    <td>PID: <a href="">1409210113</a></td>
                    <td><a href="">565266424</a></td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-xs-12 col-xs-push-0 col-sm-4 col-sm-push-8 col-md-2 col-md-push-10">
        <ul class="totals pull-right">
            <li><span class="labels">Total inputs</span> <span class="amount">45,00 €</span></li>
            <li><span class="labels">Total charges</span> <span class="amount">33,00 €</span></li>
            <li class="balance"><span class="labels">Balance</span> <span class="amount">12,00 €</span></li>
        </ul>
    </div>
</div>