---
layout: default
title: Accounts | Dubravko Hendija
inmenu: false
weight: 1
---

<div class="row accounts-intro">
    <div class="col-lg-8">
    	<p><a href="/accounts/index.html"><i class="fa fa-angle-left"></i> Back to the account list</a></p>
	</div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
		<p class="small">LAST MODIFICATION</p>
		<p class="small">12.02.2015  15:43  by Josip Božić</p>
	</div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li><a href="/accounts/details/overview.html">Overview</a></li>
			<li><a href="/accounts/details/transactions.html">Transactions</a></li>
			<li><a href="/accounts/details/activities.html">Activities</a></li>
			<li class="active"><a href="/accounts/details/manage.html">Manage</a></li>
		</ul>
	</div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form action="" class="form-horizontal">
	<div class="row">
		<div class="col-lg-5">
			<h4>PROFILE INFO</h4>
		    <div class="form-group">
		        <label for="name" class="col-sm-3 control-label">Name</label>
		        <div class="col-sm-9">
		        	<input type="text" class="form-control" id="name" placeholder="Name">
	        	</div>
		    </div>
		    <div class="form-group">
		        <label for="surname" class="col-sm-3 control-label">Surname</label>
		        <div class="col-sm-9">
		        	<input type="text" class="form-control" id="surname" placeholder="Surname">
	        	</div>
		    </div>
		    <div class="form-group">
		        <label for="address" class="col-sm-3 control-label">Address</label>
		        <div class="col-sm-9">
		        	<input type="text" class="form-control" id="address" placeholder="Address">
		    	</div>
		    </div>
		    <div class="form-group">
		        <label for="oib" class="col-sm-3 control-label">OIB</label>
		        <div class="col-sm-9">
		        	<input type="text" class="form-control" id="oib" placeholder="OIB">
	        	</div>
		    </div>

		    <h4>SIGN IN DETAILS</h4>
		    <div class="form-group">
		        <label for="password" class="col-sm-3 control-label">Password</label>
		        <div class="col-sm-9">
		        	<input type="password" class="form-control" id="password" placeholder="Password">
	        	</div>
		    </div>
		    <div class="form-group">
		        <label for="confirmpassword" class="col-sm-3 control-label">Confirm password</label>
		        <div class="col-sm-9">
		        	<input type="text" class="form-control" id="confirmpassword" placeholder="Confirm password">
	        	</div>
		    </div>
		    <div class="form-group">
		        <label for="email" class="col-sm-3 control-label">Email</label>
		        <div class="col-sm-9">
		        	<input type="email" class="form-control" id="email" placeholder="email">
	        	</div>
		    </div>
		    <div class="form-group">
		    	<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label>
							<input type="checkbox"> Send changes by email
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default btn-lg pull-right">Register</button>
				</div>
			</div>
		</div>

		<div class="col-lg-7">
			<div class="row">
				<div class="col-lg-8">
					<h4>ACCOUNT</h4>
				    <div class="form-group">
				        <label for="status" class="col-sm-3 control-label">Status</label>
				        <div class="col-sm-9">
					        <select class="form-control" id="status">
								<option>Active</option>
								<option>Inactive</option>
								<option>Suspended</option>
								<option>Deactivated</option>
							</select>
						</div>
				    </div>
				</div>
			    <!-- /.col-lg-5 -->
			    <div class="col-lg-4">
					<button type="submit" class="btn btn-info btn-lg pull-right">Save changes</button>
				</div>
			    <!-- /.col-lg-2 -->
			</div>
			<div class="row">
				<div class="col-lg-12">
				    <h4>CARDS</h4>
				    <table id="cards" class="table">
				    	<thead>
				    		<tr>
				    			<th>Type</th>
				    			<th>ID</th>
				    			<th>Status</th>
				    			<th></th>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr>
				    			<td>Mobile application</td>
				    			<td>395480322</td>
				    			<td>
							        <select class="form-control" id="status-mobile">
										<option>Active</option>
										<option>Inactive</option>
										<option>Suspended</option>
										<option>Deactivated</option>
									</select>
				    			</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td>RFID MiFare</td>
				    			<td>82349330</td>
				    			<td>
							        <select class="form-control" id="status-mifare">
										<option>Active</option>
										<option>Inactive</option>
										<option>Suspended</option>
										<option>Deactivated</option>
									</select>
				    			</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td>RFID Legic</td>
				    			<td>558588856</td>
				    			<td>
							        <select class="form-control" id="status-legic">
										<option>Active</option>
										<option>Inactive</option>
										<option>Suspended</option>
										<option>Deactivated</option>
									</select>
				    			</td>
				    			<td></td>
				    		</tr>
				    		<tr id="new_card_row">
				    			<td>
									<select class="form-control" id="card_type">
										<option>Mobile application</option>
										<option>RFID MiFare</option>
										<option>RFID Legic</option>
									</select>
				    			</td>
				    			<td>
			    					<input type="id" class="form-control" id="card_id" placeholder="ID">
				    			</td>
				    			<td>
							        <select class="form-control" id="status-legic">
										<option>Active</option>
										<option>Inactive</option>
										<option>Suspended</option>
										<option>Deactivated</option>
									</select>
				    			</td>
				    			<td>
				    				<button class="btn btn-info btn-block">Save Card</button>
				    			</td>
				    		</tr>
				    	</tbody>
				    </table>
				</div>
				<div class="col-sm-offset-6 col-lg-6">
					<div class="form-group">
						<button id="new_card" class="btn btn-default btn-lg">Add New Card</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>