---
layout: default
title: Accounts | Dubravko Hendija
inmenu: false
weight: 1
back: true
back_link: /accounts/index.html
---

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="/accounts/details/overview.html">Overview</a></li>
			<li><a href="/accounts/details/transactions.html">Transactions</a></li>
			<li><a href="/accounts/details/activities.html">Activities</a></li>
			<li><a href="/accounts/details/manage.html">Manage</a></li>
		</ul>
	</div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4">
    	<div class="panel panel-default">
            <div class="panel-heading">
                Profile
            </div>
            <div class="panel-body">
                <ul class="list-group">
					<li class="list-group-item">
                        <span class="title">NAME:</span>
                        <span class="value">Dubravko</span>
                    </li>
					<li class="list-group-item">
                        <span class="title">SURNAME:</span>
                        <span class="value">Hendija</span>
                    </li>
					<li class="list-group-item">
                        <span class="title">EMAIL:</span>
                        <span class="value">dubravko.hendija@gmail.com</span>
                    </li>
					<li class="list-group-item">
                        <span class="title">ADDRESS:</span>
                        <span class="value">Bani 73a, 10000 Zagreb</span>
                    </li>
					<li class="list-group-item">
                        <span class="title">CURRENCY:</span>
                        <span class="value">euro (€)</span>
                    </li>
				</ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
	</div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
		<div class="panel panel-default">
            <div class="panel-heading">
                Account
            </div>
            <div class="panel-body">
            	<ul class="list-group">
				<li class="list-group-item">
                    <span class="title">SALDO:</span>
                    <span class="value">13</span>
                </li>
				<li class="list-group-item">
                    <span class="title">LOYALTY POINTS:</span>
                    <span class="value">135</span>
                </li>
				<li class="list-group-item">
                    <span class="title">STATUS:</span><span class="value">Active</span>
                </li>
				<li class="list-group-item">
                    <span class="title">SALDO LIMIT:</span>
                    <span class="value">100,00</span>
                </li>
				<li class="list-group-item">
                    <span class="title">ACTIVE MEDIA</span>
					<ul>
						<li>
                            <span class="title">Mobile Application:</span>
                            <span class="value">123312134</span>
                        </li>
						<li>
                            <span class="title">RFID  Mifare Classic:</span>
                            <span class="value">434345532</span>
                        </li>
						<li>
                            <span class="title">RFID Legic:</span>
                            <span class="value">2342124454</span>
                        </li>
					</ul>
				</li>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
	</div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
		<div class="panel panel-default">
            <div class="panel-heading">
                Transaction Analysis
            </div>
            <div class="panel-body">
                <div id="transaction_analysis_recharge"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
	</div>
    <!-- /.col-lg-4 -->
</div>