<!DOCTYPE html>
<html lang="en">
    <head>
    {% include head.html %}
    </head>
<body>
    <div id="wrapper">

        <div class="row row-offcanvas row-offcanvas-left">

            <!-- Navigation -->
            <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="sidebar">
                    <div class="user">Hello, Dubravko</div>
                    <ul class="nav" id="side-menu">
                    {% assign pages = site.pages | sort:"weight"  %}
                    {% for node in pages %}
                        {% if node.inmenu == true %}
                            {% if page.url == node.url %}
                            <li><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                            {% else %}
                            <li><a href="{{node.url}}">{{node.title}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        <li><a href="../docs/">DOCS</a></li>
                        <li>
                            <a href="#">Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li><a href="/log-out" class="log-out">Log Out</a></li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

            <div class="col-sm-9">

                <div id="header">
                    
                    <div class="row" id="header_content">
                        <div class="col-md-4 col-xs-12">
                            <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo pull-right" href="/"><img src="/images/logo.png" alt="W"></a>
                            <div class="dropdown pull-right" id="head_profile">
                                <span class="user">Dubravko Hendija</span> <span class="role">(Guest)</span> <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></a>
                                <ul class="dropdown-menu profile_drop" role="menu">
                                    <li class="mail">dubravko.hendija@gmail.com</li>
                                    <li class="company">
                                        in Intis Zagreb
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8  col-xs-12">
                            <div class="page-header row">
                                <h1>{{ page.title }}</h1>
                                <span class="last-update">last updated 16:53</span>
                            </div>
                        </div>
                    </div>
                    {% if page.back == true %}
                    <div class="row accounts-intro">
                        <div class="col-lg-8">
                            <p><a href="{{ page.back_link }}"><i class="fa fa-angle-left"></i> Back to the account list</a></p>
                        </div>
                        <div class="col-lg-4">
                            <p class="small">LAST MODIFICATION</p>
                            <p class="small">12.02.2015  15:43  by Josip Božić</p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div id="page-wrapper" class="main-content">

                	<!-- Put your main content here! -->
                	{{ content }}

                </div>
                <!-- /#page-wrapper -->

            </div>
            <!--/.col-xs-12.col-sm-9-->
        </div>
        <!--/row-->

    </div>
    <!-- /#wrapper -->

    <!-- <div class="mockup"></div> -->
    
    {% include before_body_end.html %}
</body>

</html>